/*/ buggy flipping was fixed on mobile ✔ but its not mobile friendly
// overflow fixed when height gets smaller✔
// checkboxes got functionality✔ with pure css
//inspired by https://codepen.io/FlorinPop17/pen/vPKWjd */


@font-face {
	src: url(Roboto-Regular.ttf);
	font-family: Roboto;
}

:root {
	--main-bg-color:  #176b87;/* #673ab7; /*  #e91e63  #673ab7*/
}
.error-message{
  padding:12px; 
  background: hsl(355, 70%, 90%);
  font-size: 16px;
  color:hsl(0, 100%, 30%);
  text-align: center;
  margin: 10px 0px;
  width: 100%;
}
.div{
	width: 100%;
	display: none;
}
.active{
	display: block;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

body {
	height: 100%;
	font-size: 65.2%;
	background: #e9ebee;
	color: #1d2129;
	display: flex;
	perspective: 1600px;
	font-family: Roboto;
}

.version {
	position: absolute;
	bottom: 1em;
	right: 2em;
	border-radius: 4em;
	background: #ff4b2b;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	padding: .8em 2em;
	letter-spacing: .1em;
	transition: transform 80ms ease-in;
}

h1 {
	font-weight: 700;
	font-size: 3.5em;
	text-align: center;
}

form input,form div select {
	background: #eee;
	border: none;
	padding: 12px 15px;
	margin: .8em 0;
	width: 100%;
	font-size: 1.4em;
	&:focus {
		outline: 1px solid var(--main-bg-color)
	}
}

span {
	color: #333;
	font-size: 1.4em;
	display: inline-block;
	margin: 15px auto;
	font-weight: 100;
	/*user-select: none;*/
}

label {
	/*float: left;*/
	font-size: 1.4em;
	display: inline-block;
	/*user-select: none;*/
	&:hover {
		cursor: pointer;
	}
	span {
		font-size: inherit;
		line-height: 1em;
		&::before{
			content:"";
			width: 1em;
			height: 1em;
			display: inline-block;
			border: 2px solid #aaa;
			vertical-align: bottom;
			transition: all .1s ease-in-out;
			margin-right: .2em;
			transform: scale(0.99);
		}
	}
}

input[type="checkbox"] {
				/*no dislay: none;  tabindex will not work , bad accessibility practice*/
				border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	
				&:checked+span::before {
					border-color: #fafafa;
					box-shadow: 0 0 0 2px var(--main-bg-color);
					background: var(--main-bg-color);
					transform: scale(0.8);
				}
				&:focus+span{
					text-decoration: underline; 
				}
				&:checked+span {
					text-decoration: none; 
				}
} 

span.forget {
	float: right;
}

span.clearfix {
	clear: both;
	display: table;
}

span.loginwith {
	display: block;
	width: 100%;
	margin-top: 1em;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		display: inline-block;
		width: 42%;
		border-bottom: 1px solid #aaa;
		vertical-align: middle;
		margin-right: 5%;
	}
	&::after {
		content: "";
		display: inline-block;
		width: 45%;
		border-bottom: 1px solid #aaa;
		vertical-align: middle;
		margin-left: 5%;
	}
}

span.copy {
	display: block;
	font-size: 1em;
	margin-top: auto;
}

button {
	display: block;
	margin: 1em auto;
	border-radius: 4em;
	border: 1px solid var(--main-bg-color);
	background: var(--main-bg-color);
	color: #fff;
	font-size: 1.2em;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	padding: .8em 2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
	user-select: none;
	svg {
		vertical-align: middle;
	}
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(.95);
}

button:focus {
	outline: 1px solid var(--main-bg-color);
	outline:none;
}

a {
	transition: all .3s ease;
	cursor: pointer;
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:hover svg {
	cursor: pointer;
	transition: all .3s ease;
	stroke: var(--main-bg-color);
}

#container {
	width: 100%;
	max-width: 80em; /*getting resposiveness easyly*/
	min-width: 70.5em;
	height: 50em;
	position: relative;
	border-radius: 2em;
	transform-style: preserve-3d;
	margin: auto; /*center itself if parent is display:flex;*/
	&>div {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
	}
}

.content {
	width: 100%;
	height: 100%;
	padding: 0 4em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		font-size: 1.4em;
	}
}

.login {
	left: 0;
	border-radius: 2em 0 0 2em;
	/*transform-style: preserve-3d; /* for firfefox*/
	button {
		border-radius: 0px;
		width: 100%;
	}
	svg {
		margin: 1em;
		stroke: #999;
	}
	.content {
		background: #FAFAFA;
		border-radius: 2em 0 0 2em;
	}
	h1 {
		margin-top: auto; /*flexbox trick*/
	}
}

.register {
	right: 0;
	border-radius: 0 20px 20px 0;
	/*transform-style:preserve-3d;/* not need in chrome but in edge perspective not work*/
	button {
		border-radius: 0px;
		width: 100%;
		margin-bottom:auto;
	}
	svg {
		margin: 1em;
		stroke: #999;
	}
	.content {
		border-radius: 0 20px 20px 0;
		background: #FAFAFA;
		padding: 0em 4em;
	}
}

.page {
	right: 0;
	color: #fff;
	border-radius: 0 20px 20px 0;
	transform-origin: left center;
	transition: animation 1s linear;
	button {
		border-color: #fff;
		background: transparent;
	}
}

.front {
	background: linear-gradient(-45deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0/100%;
	z-index: 3;
}

.back {
	background: linear-gradient(135deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0/200%;
	z-index: 2;
	.content {
		transform: rotateY(180deg);
	}
}

.active .front {
	animation: rot-front .6s ease-in-out normal forwards;
}

.active .back {
	animation: rot-back .6s ease-in-out normal forwards;
}

.close .front {
	animation: close-rot-front .6s ease-in-out normal forwards;
}

.close .back {
	animation: close-rot-back .6s ease-in-out normal forwards;
}

@keyframes rot-front {
	from {
		transform: translateZ(2px) rotateY(0deg);
		/* used translateZ , backface-visibility: hidden doesnt work correctly , I think parent perpective prevents it */
	}
	to {
		transform: translateZ(1px) rotateY(-180deg);
	}
}

@keyframes rot-back {
	from {
		transform: translateZ(1px) rotateY(0deg);
	}
	to {
		transform: translateZ(2px) rotateY(-180deg);
	}
}

/*reverse version of animation for restart when login button clicked back
// animation-direction: reverse; will not work, must be new animation*/
@keyframes close-rot-front {
	from {
		transform: translateZ(1px) rotateY(-180deg);
	}
	to {
		transform: translateZ(2px) rotateY(0deg);
	}
}

@keyframes close-rot-back {
	from {
		transform: translateZ(2px) rotateY(-180deg);
	}
	to {
		transform: translateZ(1px) rotateY(0deg);
	}
}

.active .register .content {
	transform-origin: left center;
	animation: show-register .7s ease-in-out normal forwards
}

.active .login .content {
	transform-origin: right center;
	animation: hide-login .7s ease-in-out normal forwards;
}

.close .register .content {
	transform-origin: left center;
	animation: hide-register .7s ease-in-out normal forwards;
}

.close .login .content {
	transform-origin: right center;
	animation: show-login .7s ease-in-out normal forwards;
}

@keyframes show-register {
	from {
		transform: rotateY(80deg)
	}
	to {
		transform: rotateY(0deg)
	}
}

@keyframes hide-login {
	from {
		transform: rotateY(0.01deg)
	}
	to {
		transform: rotateY(-80deg)
	}
}

/*animation-direction: reverse; will not work, must be new animation*/
@keyframes hide-register {
	from {
		transform: rotateY(0.01deg)
	}
	to {
		transform: rotateY(80deg)
	}
}

@keyframes show-login {
	from {
		transform: rotateY(-80deg)
	}
	to {
		transform: rotateY(0deg)  
	}
}
