
html, body {
    height: 600px;
    margin: 0;
    overflow: hidden;
    width: 100vw;
}

body {
    background-image: url("imgg.jpg");
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
}

/* السمكات */
.fish-main {
    position: absolute;
    width: 130px;    
    height: auto;
    user-select: none;
}

.fish-auto {
    position: absolute;
    width: 160px;    
    height: auto;
    user-select: none;
}
.temsah{
    position: absolute;
    top:200px;
    left:1400px;
    font-size:100px;
    user-select: none;
}/* شاشة الخسارة */
#game-over {
  display: none ; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.9), rgba(30,30,30,0.9));
  color: #fff;
  font-family: 'Cairo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* الصندوق */
.game-over-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.6);
  animation: popIn 0.6s ease-out;
}

/* العنوان */
.game-over-box h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #ff4d4d;
  text-shadow: 0 0 15px #ff0000;
}

/* النص */
.game-over-box p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #ddd;
}

/* الأزرار */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
/* تنسيق الزر*/
.btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.restart {
  background: #28a745;
  color: white;
  box-shadow: 0 0 10px #28a745;
}

.restart:hover {
  background: #34d058;
  transform: scale(1.05);
}

.exit {
  background: #dc3545;
  color: white;
  box-shadow: 0 0 10px #dc3545;
}

.exit:hover {
  background: #e55365;
  transform: scale(1.05);
}

/* ROSOOM*/
@keyframes popIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fish-bait {
    width: 50px;         
    height: 50px;
    position: absolute;  
    pointer-events: none; 
    z-index: 20;          
}
 #score-box{
  position: fixed;
  top: 20px;
  right: 20px;
  background:rgba(178, 209, 52, 0.6);
  color: #fff;
  padding: 12px 20px;
  border-radius: 12px;
  font-size:20px;
  font-weight: bold;
  z-index: 999;
  box-shadow: 0 0 10px rgba(164, 99, 99, 0.5);
 }