body,
html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 600px;
	overflow: hidden;
	touch-action: none;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #c9c9c9;
	cursor: pointer;
	filter: sepia(20%);
}
